Flask>=1.1.2
Flask-Login>=0.5.0
Flask-SQLAlchemy>=2.4.4
flask-restx>=0.2.0
PyJWT>=2.0.1
Sphinx>=3.5.1
sphinx-rtd-theme>=0.5.1
--index-url https://test.pypi.org/simple/ \
--extra-index-url https://pypi.org/simple 
metrics-imspeedwagon==0.0.2 
--index-url https://test.pypi.org/simple/ \
--extra-index-url https://pypi.org/simple 
visualization-imspeedwagon==0.0.2 
