.user-panel-nav .dropdown-menu {
	position: absolute !important;
}

.user-panel-nav .material-icons {
	position: relative;
	top: 4px;
	font-size: 21px;
}

.user-panel-button {
	padding-bottom: .75rem !important;
}

.user-avatar {
	border-radius: 50%;
	border: 1px solid #000;
}

.user-panel-main-block {
	background: #fff;
}
