.user-panel-nav .dropdown-menu {
	position: absolute !important;
}

.user-panel-nav .material-icons {
	position: relative;
	top: 4px;
	font-size: 21px;
}

.user-panel-button {
	padding-bottom: .75rem !important;
}

.user-avatar {
	border-radius: 50%;
	border: 1px solid #000;
}

.user-panel-main-block {
	background: #fff;
}

.user-settings-title img ~ h2 {
	display: inline-block;
}

.project-avatar {
	display: block;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background: #eee;
	border-radius: 10px;
}

.project-letter {
	color: #000;
	line-height: 21px;
	font-size: 21px;
	text-align: center;
}

.project-title a {
	color: #000;
	text-decoration: none;
}

.project-title a:hover {
	text-decoration: underline;
}

/*
 * Project
 */

.project-container {
	background: #fff;
}

.project-header .project-avatar {
	width: 65px;
	height: 65px;
}

.project-header .project-letter {
	font-size: 30px;
	line-height: 30px;
}

.breadcrumbs {
	padding-left: 0;
}

.breadcrumbs li {
	line-height: 1rem;
	font-size: 1rem!important;
}

.breadcrumbs-delimeter {
	font-size: .85rem!important;
}

.breadcrumbs * {
	display: inline-block;
}

.breadcrumbs a {
	text-decoration: none;
	color: #000;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

/*
 * Project > Project table
 */

.table-holder > .table > thead > tr > th {
	border-bottom: none;
}

.table-holder > .table > tbody > tr:last-child > td {
	border-bottom: none;
}

.table-holder > .table > tbody > tr > td > a {
	color: #000;
	text-decoration: none;
}

.table-holder > .table > tbody > tr > td > a:hover {
	text-decoration: underline;
}

.project-folder-ico {
	font-size: 1.2rem!important;
	position: relative;
	top: 0.2rem;
}

/*
 * Project > File info
 */

.file-ico {
	font-size: 1.2rem!important;
	position: relative;
	top: .1rem;
}

.file-details-header {
	background: #f8f8f8;
}

.metrics-buttons {
	margin-left: auto;
}

.file-func-select {
	display: inline-block;
	width: auto;
}
