{% extends "index.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='css/user-panel.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block main %}
<header class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#">Проект Styx</a>
		<ul class="nav navbar-nav user-panel-nav">
			<li class="nav-item">
				<button class="btn btn-dark user-panel-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Новый проект">
					<span class="material-icons">
						add_box
					</span>
				</button>
        		</li>
			<li class="nav-item dropdown">
				<button class="btn btn-dark dropdown-toggle" type="button" id="userDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="user-avatar" width="21" height="21" loading="lazy" src="{{ gravatar_avatar_url(user.email, 21) }}">
				</button>
				<ul class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="userDropdownMenuBUtton">
					<h6 class="dropdown-header">{{ user.username }}</h6>
					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" href="#">Настройки</a></li>
					<li><a class="dropdown-item" href="#">Выйти</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>
<div class="border-bottom">
	<div class="container">
		<section class="text-center p-4">
			<a target="_blank" rel="noopener noreferrer" href="{{ gravatar_avatar_url(user.email, 500) }}">
				<img class="user-avatar" width="100" height="100" loading="lazy" src="{{ gravatar_avatar_url(user.email, 100) }}">
			</a>
			<h2 class="mt-3">{{ user.username }}</h2>
			<p class="mt-4 m-0">Зарегистрирован с {{ user.registration_time | date_format }}</p>
		</section>
	</div>
</div>
<div class="user-panel-main-block">
	<section class="container pt-4 pb-4">
		<h3 class="fs-4 pb-2 border-bottom">Проекты пользователя</h3>
		<ul class="list-group list-group-flush">
		{% for project in projects %}
			<li class="list-group-item">
				<h4>{{ project.name }}</h4>
			</li>
		{% endfor %}
		</ul>
	</section>
</div>
<div class="border-top">
	<footer class="container text-center">
		<p class="user-panel-copyright m-0 p-4">Copyright © 2021, Roman Mazalov (<a href="https://gitlab.com/imspeedwagon">imspeedwagon</a>)</p>
	</footer>
</div>
{% block js_includes %}
	{{ super() }}
{% endblock %}
{% endblock %}
